<form [formGroup]="RoleCreateForm" (submit)="SaveData()" >
  <div class="w-full text-right mx-100">
    <ng-container *ngIf="isEditable">
      <button type="submit"
        class="border border-green-500 bg-green-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-green-600 focus:outline-none focus:shadow-outline">
        Submit
      </button>

      <button type="submit" (click)="deleteFunction()"
        class="border border-red-500 bg-red-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-red-600 focus:outline-none focus:shadow-outline">
        Delete
      </button>

    </ng-container>

    <button type="button" (click)="onCancel()"
      class="border border-grey-500 bg-grey-500 text-black rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-grey-600 focus:outline-none focus:shadow-outline">
      Cancel
    </button>
  </div>
  <div class="w-full grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1">
    <div class="p-3 form-control">
      <label class="labelFor3dModel required">
        Role Name
      </label>
      <input type="text" formControlName="moduleName" [readonly]="!isEditable" placeholder="Role Name"
        [ngClass]="{ 'is-invalid':submitted && helper.name.errors}" class="input input-bordered">
    </div>
    <!-- <table>
      <tr>
        <td>
          <b>Role Name</b>
        </td>
        <td>
          <input type="text" formControlName="moduleName" />
        </td>
      </tr>
    </table> -->
    <br />

    <table>
      <tr formArrayName="permissions" *ngFor="let cd of formData?.controls;let i=index;">
        <td formGroupName={{i}}>
          <table>
            <tr>
              <div style="width: 100px;">
                <label>
                  {{cd.get('moduleName').value}}
                </label>
              </div>
              <td><input type="checkbox" formControlName="canEdit" /> canEdit</td>
              <td><input type="checkbox" formControlName="canView" /> canView</td>
              <td><input type="checkbox" formControlName="canDelete" /> canDelete</td>
              <td><input type="checkbox" formControlName="canCreate" /> canCreate</td>
            </tr>
          </table>

        </td>
      </tr>
    </table>
  </div>

</form>